.container{
  padding-top:8%;
  
}
.pull-left, .pull-right{
  margin-right:10%;
  margin-left:10%;
}
.form{
 padding: 10%;
 width: 50%;
 margin: auto;
 position: relative;
}
.search{
  position: absolute;
  right: 20%;
}
.panel{
  width: 50%;
  margin: auto;
  margin-bottom:3%;
  
}
.panel-body{
  position: relative;
}
.save{
  position: absolute;
  right: 5%;
 
}
p{
  padding-bottom:2%;
}