.container-fluid{
  padding-bottom: 10%;
}

.container{
  background: #6495ED;
  width: 100%;
  padding-bottom:3%;
  color:white;
}
.header{
  padding-top:1.2%;
  margin: auto;
  text-align: center;
  
}
.title{
  font-size: 3em;
  font-weight: bolder;
  white-space: nowrap;
}

.description{
  font-size: 1.2em;
  padding-top: 2%;
  line-height: 1.4em;
}
.button-wrapper{
  white-space: nowrap;
}

.saved{
  margin-right:2%;
  border-radius: 0;
  background: #32CD32;
  border: none;
}
.sign-in{
  border-radius: 0;
  background: #FF6347;
  border: none;
}
.saved:hover{
  background-color: #32CD32;
  border: none;
}
.saved:click{
  background-color: #32CD32;
  border: none;
}

.form{
  font-weight: bold;
  padding: 3.5%;
  width: 80%;
  margin: auto;
}
.form-control{
  height: 45px;
  border: 1px solid #6495ED !important;
}

.panel{
  width: 80%;
  margin: auto;
  margin-bottom:3%;
  
}
.panel-body{
  position: relative;
}
.save{
  position: absolute;
  right: 5%;
}
p{
  padding-bottom:2%;
  font-weight: bold;
}
.saved-articles-panel{
  position: relative;
  background: none !important;
  color: #e65c00 !important;
  
}

.delete{
  position: absolute;
  right: 3%;
  top:0;
  
}
.instructions{
  padding-bottom: 0;
}
.edit{
  border: .2px solid blue;
  min-height: 40px;
  padding:5px;
}

.results-buttons{
  display:none;
  font-size: 2em;
  margin: auto;
  width:85%;
  
}
