.container-fluid{
  padding-bottom: 10%;
}

.container{
  padding-top:8%;
  
}
.header{
  margin: auto;
  text-align: center;
  max-width: 65%;
}
.title{
  font-size: 2.5em;
}

.description{
  padding-top: 5%;
  line-height: 1.3em;
}
.pull-left, .pull-right{
  margin-right:10%;
  margin-left:10%;
}
.form{
  padding: 5%;
  width: 50%;
  margin: auto;
  position: relative;
}
.search{
  position: absolute;
  right: 20%;
}
.panel{
  width: 50%;
  margin: auto;
  margin-bottom:3%;
  
}
.panel-body{
  position: relative;
}
.save{
  position: absolute;
  right: 5%;
 
}
p{
  padding-bottom:2%;
}
.saved-articles-panel{
  position: relative;
}
.delete{
  position: absolute;
  right: 3%;
  top:0;
  
}
.instructions{
  padding-bottom: 0;
}
.edit{
  border: 1px solid blue;
  min-height: 30px;
  padding:5px;
}

.results-buttons{
  display:none;
  font-size: 2em;
  margin: auto;
  width:40%;
  
}
